header {
    display:flex;
    position: absolute;
    top: 40px;
    right:0;
    left:0;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 30px;
    z-index: 999;
}

html, body {
    overflow: hidden;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.5%;
    gap: 10px;
    margin-top: 12vh;
}

@media (max-width: 500px) or (orientation: landscape) {
  .NavBar {
    display: none !important;
  }

  #ham-icon {
    display: block !important;
  }

    input, textarea {
        width: 80% !important;
  }

  button {
    width: 50% !important;
  }

  .socials img {
    height: 8vw !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }

    .contact-container {
        padding: 5vw !important;

  }

  .contact-container h1 {
    margin-bottom: 0rem !important;
  }

  .contact-container p {
    color: #000000;
    margin-bottom: 2rem !important;
    font-size: 1rem !important;
}
  
}


.socials img {
    border-radius: 20px;
}

img:hover {
    transform: scale(1.15);
    transition: ease .2s;
}

#interactLogo {
    position: absolute;
    top: 1vh;
    left: 3vw;
    z-index: 999;
}

.hamMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -375px;
    width: 350px;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.273);
    backdrop-filter: blur(20px);
    overflow-y: auto;
    overflow-x: hidden;
}

.hamMenu ul {
    position: relative;
    top: 10vh;
    width: 100%;
}

.hamMenu ul li {
    display: block;
    color: white;
    list-style-type: none;
}


.hamMenu ul li:hover {
    background-color: rgb(255, 106, 0);
}

.hamMenu li a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 7%;
}

#ham-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    display: block;
    filter: invert();
    right: 3.5%;
}

.NavBar {
    display: flex;
    position: inherit;
    gap: 10px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.471);
    padding: 7px 15px;
    border-radius: 50px;
    backdrop-filter: blur(30px);
    padding-right: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
}

.NavBar li {
    list-style-type: none;
    border-radius: 50px;
}

.NavBar li a {
    color: white;
    text-decoration: none;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
}

.NavBar li:hover {
    background-color: rgb(29, 0, 116);
}

.NavBar:hover {
    scale: 1.03;
    transition: ease .3s;
}


body {
    background: rgb(28, 0, 112);
    font-family: 'Montserrat', Arial, sans-serif;
    color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    margin-top: 8vh;
    background: rgb(255, 123, 15);
    padding: 2.5rem 2rem;
    border-radius: 24px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 50px 40px;
    margin-left: 4vw;
    box-shadow: 0 0 25px rgb(255, 162, 0);
}

.contact-container h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.contact-container p {
    color: #000000;
    margin-bottom: 4rem;
    font-size: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

input, textarea {
    padding: 0.9rem 1rem;
    border: 2.5px solid rgba(255, 255, 255, 0.788);
    border-radius: 16px;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    transition: border 0.2s;
    outline: none;
    width: 92%;
    background-color: wheat;
}


input:focus, textarea:focus {
    border-color: #4400ffcc;
    box-shadow: 0 0 8px rgba(106, 42, 255, 0.709);
}

button {
    background: rgb(255, 72, 0);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;
    letter-spacing: 1px;
    text-align: center;
    width: 40%;
}
button:hover {
    box-shadow: 0 0 25px rgb(255, 60, 0);
}

button:active {
    background-color: rgb(46, 0, 152);
}

@media (max-width: 500px) {
    .contact-container {
        padding: 1.2rem 0.5rem;
    }
}