@media (max-width: 430px) {
  .NavBar {
    display: none !important;
  }

  #ham-icon {
    display: block !important;
  }

  h1 {
    font-size: 4.5rem !important; 
    margin-left: 10vw;
    margin-right: 8vw;
  }

  .rideOptionsContainer div img {
    height: 12vh !important;
  }

  .rideOptionsContainer div {
    padding: 4.5vh 24vw !important;
  }

  .rideOptionsContainer {
    gap: 15vw !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }

}



body {
    font-family: 'Montserrat', Arial, sans-serif;
    width: 100%;
    background-color: rgb(28, 0, 112);
    margin: 2rem auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 6rem;
    margin-top: 16vh;
    color: rgb(255, 89, 0);
    margin-bottom: 12vh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(161, 255, 186);
    font-weight: bold;
    height: 36px;
    width: 45%;
    background-color: rgb(255, 89, 0);
    border-radius: .8rem;
    border: none;
    box-shadow: 0 0 10px rgb(255, 132, 0);
    letter-spacing: .05rem;
    display: block;
}

button a {
    align-content: center;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}

button:hover {
    scale: 1.1;
    transition: ease .4s;
    background-color: rgb(0, 255, 110);
    color: rgb(0, 0, 0);
}

.rideOptionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
}

.rideOptionsContainer div img {
    height: 8vw;
    border-radius: 50%;
}

.rideOptionsContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5vh 3.2vw;
    border-radius: 4rem;
    box-shadow: 0 0 24px black;
}

h3 {
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 4px white;
}

.rideOptionsContainer div:hover {
    scale: 1.07;
    box-shadow: 0 10px 25px rgb(255, 140, 0);
    transition: ease-in-out .3s;
}

header {
    display:flex;
    position: absolute;
    top: 40px;
    right:0;
    left:0;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 30px;
    z-index: 999;
}

img:hover {
    transform: scale(1.15);
    transition: ease .2s;
}

#interactLogo {
    position: absolute;
    top: 1vh;
    left: 3vw;
    z-index: 999;
}

.hamMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -375px;
    width: 350px;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.273);
    backdrop-filter: blur(20px);
    overflow-y: auto;
    overflow-x: hidden;   
}

.hamMenu ul {
    position: relative;
    top: 10vh;
    width: 100%;
}

.hamMenu ul li {
    display: block;
    color: white;
    list-style-type: none;
}


.hamMenu ul li:hover {
    background-color: rgb(255, 106, 0);
}

.hamMenu li a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 7%;
}

#ham-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    display: block;
    filter: invert();
    right: 3.5%;
}

.NavBar {
    display: flex;
    position: inherit;
    gap: 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.373);
    padding: 7px 15px;
    border-radius: 50px;
    backdrop-filter: blur(50px);
    padding-right: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
}

.NavBar li {
    list-style-type: none;
    border-radius: 50px;
}

.NavBar li a {
    color: white;
    text-decoration: none;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
}

.NavBar li:hover {
    background-color: rgb(29, 0, 116);
}

.NavBar:hover {
    scale: 1.03;
    transition: ease .3s;
}
