@media (max-width: 500px) and (orientation: portrait) {
    body {
        overflow-y: hidden !important;
    }

  .NavBar {
    display: none !important;
  }

  #ham-icon {
    display: block !important;
  }

  .form {
    width: 85vw !important;
    height: 24vh !important;
    border-radius: 30px !important;
    }

    h2 {
        font-size: 1.7rem !important;
        margin-bottom: .8rem !important;
    }

    input {
        width: 72% !important;
        height: 6% !important;
        font-size: .8rem !important;
        margin-top: 1rem !important;
    }

    button {
        font-size: .8rem !important;
        padding: 0.4rem !important;
        margin-top: 1rem !important;
    }

    #result {
        width: 85vw !important;
        height: auto !important;
        font-size: .8rem !important;
        border-radius: 25px !important;
        margin-top: 12vw !important;
        margin-bottom: 30vw !important;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .NavBar {
    display: none !important;
  }

  #ham-icon {
    display: block !important;
  }

  .form {
    width: 55vw !important;
    height: 55vh !important;
    border-radius: 30px !important;
    }

    h2 {
        font-size: 1.7rem !important;
        margin-bottom: .8rem !important;
    }

    input {
        width: 72% !important;
        height: 6% !important;
        font-size: .8rem !important;
        margin-top: 1rem !important;
    }

    button {
        font-size: .8rem !important;
        padding: 0.4rem !important;
        margin-top: 1rem !important;
    }

    #result {
        width: 85vw !important;
        height: auto !important;
        font-size: .8rem !important;
        border-radius: 25px !important;
        margin-top: 3vw !important;
    }
}


body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 2rem auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

input,
button {
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 2rem;
    width: 100%;
}

body {
    background-image: linear-gradient(150deg, rgb(255, 130, 46), rgb(255, 0, 68));
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

header {
    display:flex;
    position: absolute;
    top: 40px;
    right:0;
    left:0;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 30px;
    z-index: 999;
}

img:hover {
    transform: scale(1.15);
    transition: ease .2s;
}

#interactLogo {
    position: absolute;
    top: 1vh;
    left: 3vw;
    z-index: 999;
}

.hamMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -375px;
    width: 350px;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.855);
    backdrop-filter: blur(20px);
    overflow-y: auto;
    overflow-x: hidden;
}

.hamMenu ul {
    position: relative;
    top: 10vh;
    width: 100%;
}

.hamMenu ul li {
    display: block;
    color: white;
    list-style-type: none;
}


.hamMenu ul li:hover {
    background-color: rgb(255, 106, 0);
}

.hamMenu li a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 7%;
}

#ham-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    display: block;
    filter: invert();
    right: 3.5%;
}

.NavBar {
    display: flex;
    position: inherit;
    gap: 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.373);
    padding: 7px 15px;
    border-radius: 50px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
}

.NavBar li {
    list-style-type: none;
    border-radius: 50px;
}

.NavBar li a {
    color: white;
    text-decoration: none;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
}

.NavBar li:hover {
    background-color: rgb(29, 0, 116);
}

.NavBar:hover {
    scale: 1.03;
    transition: ease .3s;
}



input {
    border: none;
    border-radius: 6px;
    background: #fff3e0;
    transition: box-shadow 0.2s;
    font-size: 1.15rem;
    padding: 0.75rem;
    margin-top: 1.25rem;
    max-width: 450px;
}

button {
    border: none;
    border-radius: 7px;
    background: #fff3e0;
    font-size: 1.15rem;
    padding: .85rem;
    margin-top: 1.5rem;
    width: 25%;
    max-width: 500px;
}

input:focus {
    outline: 2px solid #ff5900;
}

button {
    background: #ff9800;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

h2 {
    color: #ff9800;
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: 3rem;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: solid 5px white;
    margin-top: 4rem;
    font-size: 1.5rem;
    width: 50vw;
    height: auto;
    padding: 3vw;
    border-radius: 50px;
    color: white;
}

.form {
    margin-top: 12vh;
    border: solid 3px white;
    border-radius: 75px;
    background-color: rgb(24, 0, 120);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 40vh;
    box-shadow: 0 0 50px rgba(86, 57, 255, 0.596);
}

.progress-container {
    width: 100%;
    max-width: 300px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #27ffac;
    transition: width 0.1s linear;
    box-shadow: 0 0 10px rgb(119, 119, 255);
}