@media (max-width: 900px) {
  .NavBar {
    display: none !important;
  }

  #ham-icon {
    display: block !important;
  }

  .hero h1 {
    font-size: 5vh !important;  
  }

  .AboutUs {
    width: 100vw !important;
    height: 110vw !important;
    flex-direction: column !important;
    margin: 0 !important;
  }

  .AboutUs h2 {
    font-size: 2rem !important;
  }

  .AboutUs p {
    font-size: .8rem !important;
    text-indent: 2rem !important;
  }

  #abImg {
    margin-top: 3vw !important;
    height: 30vw !important;
  }

  .abTextContainer {
    width: 92% !important;
    padding: 0 !important;
    margin-left: 3vw !important;
  }

  #heroBg {
    height: 90vh !important;
  }

  
}


body, html {
    background-color: rgb(255, 136, 0);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

@media (min-aspect-ratio: 16/9) {
    #heroBg {
        width: 100vw;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #heroBg {
        width: auto;
        height: 100%;
    }
}

#interactLogo:hover {
    transform: scale(1.15);
    transition: ease .2s;
}

header {
    display:flex;
    position: absolute;
    top: 40px;
    right:0;
    left:0;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 30px;
    z-index: 999;
}

#interactLogo {
    position: absolute;
    top: 1vh;
    left: 3vw;
    z-index: 999;
}

.hamMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -375px;
    width: 350px;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(21, 0, 83);
}

.hamMenu ul {
    position: relative;
    top: 10vh;
    width: 100%;
}

.hamMenu ul li {
    display: block;
    color: white;
    list-style-type: none;
}


.hamMenu ul li:hover {
    background-color: rgb(255, 106, 0);
}

.hamMenu li a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 7%;
}

#ham-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    display: block;
    filter: invert();
    right: 3.5%;
}

.NavBar {
    display: flex;
    position: inherit;
    gap: 10px;
    justify-content: center;
    background-color: rgba(255, 47, 0, 0.471);
    padding: 7px 15px;
    border-radius: 50px;
    backdrop-filter: blur(50px);
    padding-right: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
}

.NavBar li {
    list-style-type: none;
    border-radius: 50px;
}

.NavBar li a {
    color: white;
    text-decoration: none;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
}

.NavBar li:hover {
    background-color: rgb(29, 0, 116);
}

.NavBar:hover {
    scale: 1.03;
    transition: ease .3s;
}



.hero {
    display: flex; 
    width: 100vw;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right:0;
    margin: 0;
    padding: 0;
}

.hero h1 {
    color:white;
    font-size: 10vh;
    z-index: 1;
    text-align: center;
    border: solid 5px white;
    padding: 2vh 4vw;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    box-shadow: 0 0 15px white;
}
#heroBg {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    box-shadow: 0 0 5px black;
}

.scrollBtn {    
    position: relative;
    left: 48%;
    bottom: 18%;
    z-index: 999;
    filter: invert();
}

.AboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 10vh;
}

.AboutUs h2 {
    font-size: 45px;
    color:rgb(0, 0, 0);
}

#abImg {
    border: solid white 3px;
    border-radius: 2rem;
    display: flex;
}

.abTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-right: 5%;
}

.abTextContainer h2 {
    text-align: left;
    width: 100%;
}

.abTextContainer p {
    width: 100%;
    font-size: 1.5rem;
    text-indent: 4rem;
}
